html {
  font: 100%/125% Ubuntu, sans-serif;
  height: 100%;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 40em;
  border: 1px solid #eee;
  border-color: #fff #eee;
}

.plan > ul {
  list-style: none;
  padding-left: 0;
  margin: 0.5em 0;
}

.plan .task > table {
  width: 100%;
  border-spacing: 0;
}

.plan .task-completed .task-title {
  text-decoration: line-through;
}

.plan .task-done, .plan .task-title, .plan .task-delete {
  vertical-align: top;
  padding: 0.4em 0;
  /* Use 0% opacity instead of "transparent" to avoid awkward gaps */
  border: 1px solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
}

.plan .task-done {
  width: 1.5em;
}

.plan .task-done [type=checkbox] {
  display: none;
}

.plan .task-done [type=checkbox] + span {
  display: block;
  position: relative;
  top: 0.125em;  /* Minor kludge to get everything aligned */
  width: 1em;
  height: 1em;
  background: white;
  border: 1px solid #111;
  border-radius: 2px;
}

.plan .task-done [type=checkbox]:checked + span {
  border-color: white;
  background: url(/static/tick.svg) no-repeat;
}

.plan .task-title {
  white-space: pre-wrap;
}

.plan .task-title:focus {
  /* Disable distracting outline on Chrome */
  outline: none;
}

.plan.idle .task-title {
  /* Give the whole cell that cursor, not just the text inside */
  cursor: text;
}

.plan.idle .task:hover .task-title {
  border-color: #ccc;
}

.plan.idle .task-title:active,
.plan.editing .task-title[contenteditable="true"] {
  box-shadow: inset 1px 1px 4px 0 #666;
  border-color: #333;
}

.plan .task-delete {
  visibility: hidden;
  width: 1.5em;
  background: url(/static/cross.svg) center 0.5em no-repeat;
  cursor: pointer;
  opacity: 0.4;
}

.plan.idle .task:hover .task-delete,
.plan.editing .task-title[contenteditable="true"] + .task-delete {
  visibility: visible;
}

.plan .task-delete:hover {
  opacity: 1;
}

.plan.locked {
  cursor: default;
  opacity: 0.5;
}

.plan .add-task {
  color: #999;
  font-size: 75%;
}

.plan .add-task:hover {
  color: #111;
}

footer {
  margin-top: 2em;
  text-align: center;
}

footer p {
  margin: 1em 0;
  font-size: 75%;
  color: #bbb;
}

footer p a {
  color: #999;
  text-decoration: none;
}
