html {
  font: 100%/125% Ubuntu, sans-serif;
}

.plan ul {
  list-style: none;
  padding-left: 0;
}

.plan ul ul {
  padding-left: 1.25em;
}

.plan .task.task-has-children {
  margin-top: 0.5em;
}

.plan .task-data {
  width: 100%;
  border-spacing: 0;
}

.plan .task-done, .plan .task-title {
  padding: 0.4em 0;
  /* Use 0% opacity instead of "transparent" to avoid awkward gaps */
  border: 1px solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
}

.plan .task-done {
  width: 1.5em;
}

.plan .task-done [type=checkbox] {
  display: none;
}

.plan .task-done [type=checkbox] + span {
  display: block;
  width: 1em;
  height: 1em;
  background: white;
  border: 1px solid #111;
  border-radius: 2px;
}

.plan .task-done [type=checkbox]:checked + span {
  border-color: white;
  background: white url(/static/tick.svg) no-repeat;
}

.plan .task-title {
  white-space: pre-wrap;
}

.plan .task-title:focus {
  /* Disable distracting outline on Chrome */
  outline: none;
}

.plan.idle .task-title {
  /* Give the whole cell that cursor, not just the text inside */
  cursor: text;
}

.plan.idle .task-title:hover {
  border-color: #ccc;
}

.plan.idle .task-title:active,
.plan.editing .task-title[contenteditable="true"] {
  border-color: #333;
}

.plan.locked {
  cursor: default;
  opacity: 0.5;
}
